.content{
    width: 60%;
    float: left;
    padding: 0 0 0 40px;
    background-color: chartreuse;
}

.sidebar{
    width:25%;
    float: right;
    background-color: blanchedalmond;
    padding: 30px;
} 
h1{
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
}
body{
    color: orangered;
    background-color: chartreuse;
}
#date{
    color:brown;
    font-size: 14px;
    font-style: italic;
}
#ch{
    color:blue;
    font-style: italic;
    border-bottom: 2px solid brown;
}
#pcount{
    font-size: 40px;
    color: blueviolet;
    font-weight: bold;
}